<div class="built">
    Built with <a href="https://vite.dev/" target="_blank" class="hov">Vite</a>, <a href="https://gsap.com/" target="_blank" class="hov">GSAP</a>, and <a href="https://threejs.org/" target="_blank" class="hov">Three.js</a>
    <!-- , and <a href="https://formowl.dev/" target="_blank" class="hov">FormOwl</a> -->
</div>
<div class="socials">
    <a class="icon" href="https://github.com/aarushth" target="_blank" style="text-decoration: none;">
        <div class="svg-wrapper">
            <img class="logo" src="/svg/github-mark-white.svg" alt="GitHub Logo" />
        </div>
    </a>
    <a class="icon" href="https://www.linkedin.com/in/aarush-thadani-58212b328/" target="_blank" style="text-decoration: none;">
        <div class="svg-wrapper">
            <img class="logo" src="/svg/linkedin-1-svgrepo-com.svg" alt="linkedin Logo" />
        </div>
    </a>
    <a class="icon" href="https://www.youtube.com/@spAAce__mAAn" target="_blank" style="text-decoration: none;">
        <div class="svg-wrapper">
            <img class="logo" src="/svg/youtube-circle-logo-svgrepo-com.svg" alt="youtube Logo" />
        </div>
    </a>
    <a class="icon" href="https://www.instagram.com/aarush_sucks_at_usernames/" target="_blank" style="text-decoration: none;">
        <div class="svg-wrapper">
            <img class="logo" src="/svg/instagram-svgrepo-com.svg" alt="instagram Logo" />
        </div>
    </a>
</div>