<a href="/" class="nav-home hov">Home</a>
<button class="hamburger" aria-label="Toggle menu">
    &#9776;
</button>
<div class="nav-links">
    <ul>
        <li><a class="nav-list hov" href="./aboutme.html">About Me</a></li>
        <li><a class="nav-list hov" href="./projects.html">Projects</a></li>
        <li><a class="nav-list hov" href="./photos.html">Photos</a></li>
        <li><a class="nav-list hov" href="./resume.html">Resume</a></li>
        <li><a class="nav-list hov" href="./contactme.html">Contact Me</a></li>
    </ul>
</div>