html, body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
#vignette{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    pointer-events: none;
    background: linear-gradient(black 20%, transparent 25%, transparent 80%, black 85%);
    display: none;
}
#close{
	background-color: transparent;
    color: white;
	border: none;
	z-index: 10;
	position: absolute;
	width: fit-content;
	font-size: 5rem;
	font-weight: bold;
	left: 10%;
	top:0%;
	text-align: center;
	transform: translate(-50%, -50%);
	opacity: 0;
}
#footer{
    position: fixed;
    bottom: 0;
}
@media(max-width:1000px){
    #vignette{
        display:block;
    }
    #close{
        top:20%;
        font-size:2rem;
    }
}


