html, body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
nav{
    z-index: 4;
}
.title{
    z-index: 5;
    top: 18%;
}
#close{
	background-color: transparent;
    color: white;
	border: none;
	z-index: 10;
	position: absolute;
	width: fit-content;
	font-size: 5rem;
	font-weight: bold;
	left: 10%;
	top:20%;
	text-align: center;
	transform: translate(-50%, -50%);
	opacity: 0;
}
#footer{
    position: fixed;
    bottom: 0;
}
@media(max-width:1000px){
    #close{
        font-size:2rem;
    }
}


